<!-- Accordion container for a goal -->
<div class="accordion-item goal-card p-3" id="{{ goal.category_component.slug }}-container"
data-component-slug="{{ goal.category_component.slug }}">
  <h2 class="accordion-header d-flex justify-content-between align-items-center" id="heading-{{ goal_index }}">
  <button class="accordion-button collapsed w-100 text-start" type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapse-{{ goal_index }}"
    aria-expanded="false"
    aria-controls="collapse-{{ goal_index }}">
    {{ goal.name or "Goal " ~ goal_index }}
    <span class="badge bg-secondary ms-3">
      {{ goal.category_component.name }}
    </span>
  </button>
</h2>

  <!-- Container for an example goal -->


  <div id="collapse-{{ goal_index }}" class="accordion-collapse collapse"
    aria-labelledby="heading-{{ goal_index }}"
    data-bs-parent="#category-accordion-{{ category_archetype.slug }}">

    <div class="accordion-body p-2 mb-3 solid-white-bg goal-card" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-card" data-goal-id="{{ goal_index }}">
    
      <div class="card shadow p-3 mb-3 solid-white-bg">
        <h4 class="display-6 text-primary text-center">Goal Details</h4>
        <hr class="w-100 mb-3">
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-name"
            value="{{ goal.name }}" name="name" autocomplete="on" required>
          <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-name" class="form-label">Goal
            Name</label>
          <div class="invalid-feedback">Name is required.</div>
        </div>
        <!-- Goal Description Input -->
        <div class="mb-3 form-floating">
          <textarea class="form-control" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-description"
            rows="3">{{ goal.description }}</textarea>
          <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-description"
            class="form-label">Description (optional)</label>
        </div>
        <!-- Goal Type Input -->
        <div class="mb-3">
          <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-type" class="form-label">Goal
            Type</label>
          {% set types = {
            'active': 'Active (goals you intend to pursue currently)',
            'supportive': 'Supportive (goals that directly support or enable other goals)',
            'collaborative': 'Collaborative (goals requiring contributions or coordination with others)',
            'habitual': 'Habitual (goals that involve building or maintaining habits or routine practices)',
            'experimental': 'Experimental (goals being explored without full commitment, to gauge interest or feasibility)',
            'self-care': 'Self-Care (goals focusing on personal well-being, mental health, or stress management)',
            'archived': 'Archived (goals to be pursued later, possibly those that follow other goals or steps in life)'
          } %}
          <select class="form-select" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-type" required>
            <option value="" disabled {% if not goal.goal_type %}selected{% endif %}>Select a Type of Goal</option>
            {% for type, label in types.items() %}
              <option value="{{ type }}" {% if goal.goal_type == type %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Please select a goal type.</div>
        </div>
        <!-- Priority Selector -->
        <div class="mb-3">
          <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-priority"
            class="form-label">Priority</label>
          {% set priorities = {
            '4': 'Low',
            '3': 'Medium',
            '2': 'High',
            '1': 'Urgent'
          } %}
          <select class="form-select" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-priority" required>
            <option value="" disabled {% if not goal.priority %}selected{% endif %}>Select Priority</option>
            {% for priority, label in priorities.items() %}
              <option value="{{ priority }}" {% if goal.priority == priority %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">Please assign a priority.</div>
        </div>
        <!-- Display as an active goal -->
        <!-- <div class="form-check form-switch mb-3">
          <input class="form-check-input toggle-panels goal-is-active-checkbox" type="checkbox"
            id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-is-active">
          <label class="form-check-label" for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-is-active">
            Display goal and associated milestones/action items on dashboard?
          </label>
        </div> -->
      </div>
      <div class="card shadow p-3 mb-3">
        <!-- Estimated Goal Completion Input -->
        <div class="mb-3 text-center">
          <h4 class="display-6 text-primary">Projected Completion</h4>
          <hr class="w-100 mb-3">
          <div
            class="d-flex justify-content-around gap-3 align-items-center m-auto projected-completion-card">
            <!-- Input for Time Value -->
            <div class="col-4">
              <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-time-value" class="form-label">
                Select a time from now
              </label>
              <div class="d-flex gap-2 align-items-center">
                <input type="number" class="form-control w-auto"
                  id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-time-value" placeholder="Enter number"
                  min="1" data-type="projected-completion-value" value="{{ goal.estimated_time_value }}">
                {% set units = {
                  'day': 'Day(s)',
                  'week': 'Week(s)',
                  'month': 'Month(s)',
                  'year': 'Year(s)'
                } %}
                <select class="form-select" id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-time-unit" required>
                  <option value="" disabled {% if not goal.estimated_time_unit %}selected{% endif %}>Time Unit</option>
                  {% for unit, label in units.items() %}
                    <option value="{{ unit }}" {% if goal.estimated_time_unit == unit %}selected{% endif %}>{{ label }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-1">
              <p>OR</p>
            </div>
            <div class="col-4">
              <!-- TODO: REVISIT JS FOR AUTOPOPULATE -->
              <label for="{{ goal.category_component.slug }}-goal-{{ goal_index }}-date" class="form-label">
                Select a date
              </label>
              <input type="date" class="form-control"
                id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-date"
                data-type="projected-completion-date" required>
              <div class="invalid-feedback">Please enter a projected completion date.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow p-3 mb-3 opaque-white-bg">
        <!-- Goal Milestones -->
        <div class="text-center">
          <h4 class="display-6 text-primary">Milestones</h4>
          <hr class="m-auto my-3 w-100">
          <h4 class="">Let's break it down!</h4>
          <ol>
            <li class="lead">Fill out the card you see with the final goal, the last thing that happens when you're done with all of it.</li>
            <li class="lead"></li>
          </ol>
          <p class="lead">Hint: Milestones add to the left (in front of one another).</p>
    
        </div>
        <div class="container-fluid mb-3 text-center">
          <!-- Add Milestone Button -->
          <div class="mb-3">
            <button type="button" id="add-milestone" class="btn btn-primary add-milestone-btn"
              data-component-slug="{{ goal.category_component.slug }}" data-goal-id="{{ goal_index }}">
              Add Milestone
            </button>
          </div>
    
          <!-- Swiper Container for Milestones, (Swiper functionality in question, may opt for sortable horizonal-scroll) -->
          <div class="swiper-container scroll-wrapper position-relative">
            <div class="card shadow swiper-wrapper m-auto">
              <div class="swiper-slide">
                <!-- Dynamically Added Milestones go here -->
                <div
                  class="d-flex justify-content-left m-auto mb-2 gap-2 p-3 milestone-section sortable-container bg-secondary-subtle"
                  id="{{ goal.category_component.slug }}-goal-{{ goal_index }}-milestones">
    
                  {% for milestone in goal.example_milestones %}
                    {% set milestone_index = loop.index %}
                    {% include 'partials/goals/_milestone_card_from_archetype.html' %}
                  {% endfor %}
    
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-danger btn-lg m-auto my-3 remove-goal-btn">
          Remove Goal
        </button>
      </div>
      <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary btn-lg"
          id="{{ goal.category_component.slug }}-goals-save">Save Goal
        </button>
        <a href="/home" class="btn btn-lg btn-primary d-none" id="next-section-btn">Next Section</a>
      </div>
    </div>
  </div>
</div>


<!-- 

        </div>
      </div>
    </div>
</div> -->