<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Enso_Blue_and_Black.jpg') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.css" integrity="sha512-4OzqLjfh1aJa7M33b5+h0CSx0Q3i9Qaxlrr1T/Z+Vz+9zs5A7GM3T3MFKXoreghi3iDOSbkPMXiMBhFO7UBW/g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>{{ category_archetype.category.name }} Goals</title>
</head>

<body>
  <div class="parallax-bg"></div>
  <div class="border-box">
    <nav
      class="navbar shadow navbar-expand-lg bg-light w-100 m-auto d-flex justify-content-between position-sticky top-0 z-3 p-3">
      <div class="container-fluid">
        <a class="navbar-brand d-inline-flex align-items-center gap-4" href="/dashboard">
          <img src="/static/img/Enso_Blue_and_Black.jpg" class="rounded-circle" width="60" height="60"
            alt="Converge Logo">
          <h1 class="display-5 text-primary">Converge</h1>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/calendar">Calendar</a>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Goals
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/goals/manager">Goal Manager</a></li>

                  <li><a class="dropdown-item" href="/goals/recreation-travel">Recreation and Travel</a></li>
                  <li><a class="dropdown-item" href="/goals/health-wellness">Health and Wellness</a></li>
                  <li><a class="dropdown-item" href="/goals/social-community">Social and Community Engagement</a></li>
                  <li><a class="dropdown-item" href="/goals/spirituality">Spirituality and Life Purpose</a></li>
                  <li><a class="dropdown-item" href="/goals/career-professional-development">Career and Professional
                      Development</a></li>
                  <li><a class="dropdown-item" href="/goals/wealth-finance">Wealth Building and Financial Health</a>
                  </li>
                  <li><a class="dropdown-item" href="/goals/creative-expression-hobbies">Creative Expression and
                      Hobbies</a></li>
                  <li><a class="dropdown-item" href="/goals/environment-success">Environment and Success</a></li>
                  <li><a class="dropdown-item" href="/goals">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Routines
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/routines/am/manage">AM Routine Manager</a></li>
                  <li><a class="dropdown-item" href="/routines/pm/manage">PM Routine Manager</a></li>
                  <li><a class="dropdown-item" href="/intentions/edit">Daily Intention Manager</a></li>
                  <li><a class="dropdown-item" href="/practices/flex-items/manage">Flex Item</a></li>
                  <li><a class="dropdown-item" href="/practices">Something else?</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <a class="nav-link" href="/social">Social</a>
          <form action="/users/logout" method="post">
            <button class="btn btn-link" type="submit" name="logout">logout</button>
          </form>
        </div>
      </div>
    </nav>
    <header class="card my-5 p-5 w-50 m-auto text-center opaque-white-bg">
      <div class="card shadow p-3 m-auto solid-white-bg mb-5">
        <h3 class="text-primary display-4">Goal Archetype Template</h4>
      </div>
      <div class="card shadow p-2 m-auto solid-white-bg">
        <div class="card-body">
          <div class="card-title text-center">
            <h4 class="text-primary fs-2 mb-2">How to Use This Goal Template</h4>
            <hr class="w-50 m-auto mb-3">
          </div>
          <div class="card-text text-center w-75 m-auto">
            <p class="fs-4">Each goal is part of a flexible roadmap. You can:</p>
            <ol class="list-group list-group-numbered fs-5">
              <li class="list-group-item">Edit the goals to fit your vision</li>
              <li class="list-group-item">Reorder or rephrase milestones</li>
              <li class="list-group-item">Add or remove steps based on what works for you</li>
            </ol>
            <p class="mt-3">This is your journey. We’re just helping you map the terrain.</p>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
      <div class="card shadow w-75 p-5 opaque-white-bg m-auto">
        <div class="card shadow m-auto mb-2 p-3 opaque-white-bg">
          <div class="card-body">
            <div class="card-title text-center">
              <h1 class="display-4 text-primary mb-2">{{ category_archetype.category.name }} Goals</h1>
              <h3 class="text-secondary">Roadmap: {{ category_archetype.name }}</h3>
              <p class="lead mt-3">We’ve outlined a suggested set of goals to help guide your progress. Review, adjust, and make them your own!</p>
            </div>
          </div>
        </div>

        <!-- Accordion of example goals -->
        <div
        class="category-card accordion"
        data-category-slug="{{ category_archetype.category.category_slug }}"
        id="category-accordion-{{ category_archetype.slug }}">
          {% for goal in category_archetype.example_goals %}
            {% set goal_index = loop.index %}
            {% include 'partials/goals/_goal_card_from_archetype.html' %}
          {% endfor %}
        </div>

      </div>
    </div>

    </body>
    <script defer src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.js" integrity="sha512-f26fxKZJiF0AjutUaQHNJ5KnXSisqyUQ3oyfaoen2apB1wLa5ccW3lmtaRe2jdP5kh4LF2gAHP9xQbx7wYhU5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script defer src="/static/js/swiper.js"></script>
      <script defer type="module" src="/static/js/goal-manager.js"></script>
      <script defer type="module" src="/static/js/milestone-manager.js"></script>
      <script defer type="module" src="/static/js/action-item-manager.js"></script>
      <script defer type="module" src="/static/js/save-goal.js"></script>
      <script defer type="module" src="/static/js/timeframe-to-date.js"></script>
      <script defer type="module" src="/static/js/sortable-containers.js"></script>
      <script defer type="module" src="/static/js/ui-effects.js"></script>
      
    </html>