<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Enso_Blue_and_Black.jpg') }}">
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script defer src="/static/js/add-goal.js"></script>
  <script defer src="/static/js/swiper.js"></script>
  <script defer src="/static/js/add-milestone.js"></script>



  <title>Set Recreation and Travel Goals</title>
</head>

<body>
  <div class="border-box">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark w-100 m-auto d-flex justify-content-between position-sticky top-0 z-3 p-3">
      <div class="container-fluid">
        <a class="navbar-brand d-inline-flex align-items-center gap-4" href="/home">
          <img src="/static/img/Enso_Blue_and_Black.jpg" alt="Logo" width="60" height="60" class="rounded-circle">
          <h1 class="display-5 text-primary">Converge</h1>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/calendar">Calendar</a>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Goals
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/goals/your-why">Understanding Your WHY</a></li>
                  <li><a class="dropdown-item" href="/goals/recreation-travel">Recreation and
                      Travel</a></li>
                  <li><a class="dropdown-item" href="/goals/health-wellness">Health and Wellness</a>
                  </li>
                  <li><a class="dropdown-item" href="/goals/social-community">Social and Community
                      Engagement</a></li>
                  <li><a class="dropdown-item" href="/goals/spirituality">Spirituality and Life
                      Purpose</a></li>
                  <li><a class="dropdown-item" href="/goals/career-professional-development">Career
                      and Professional Development</a></li>
                  <li><a class="dropdown-item" href="/goals/wealth-finance">Wealth Building and
                      Financial Health</a></li>
                  <li><a class="dropdown-item" href="/goals/creative-expression-hobbies">Creative
                      Expression and Hobbies</a></li>
                  <li><a class="dropdown-item" href="/goals/environment-success">Environment and
                      Success</a></li>
                  <li><a class="dropdown-item" href="/goals">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Practices
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/practices/AM">AM Practices</a></li>
                  <li><a class="dropdown-item" href="/practices/PM">PM Practices</a></li>
                  <li><a class="dropdown-item" href="/practices/daily">Daily Practices</a></li>
                  <li><a class="dropdown-item" href="/practices/discipline">Discipline</a></li>
                  <li><a class="dropdown-item" href="/practices">Something else?</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          <form action="/users/logout" method="post">
            <button class="btn btn-link" type="submit" name="logout">logout</button>
          </form>
        </div>
      </div>
    </nav>
    <header class="bg-dark opacity-75 w-100 p-2 pb-3 text-center">
      <h1 class="display-2 mb-3 text-primary">Recreation and Travel Goals</h1>
      <h4 class="display-6 mx-5">What do you enjoy now? What would you like to enjoy in the future?</h4>
    </header>
    <!-- Content and Sidebar Div-->
    <div class="container-fluid m-auto my-3 d-flex align-items-start gap-3">
      <!-- Progress Nav Sidebar -->
      <div class="card shadow p-2 opacity-75 col-3">
        <nav id="progress-navbar" class="h-100 flex-column align-items-stretch p-3">
          <h4 class="display-6 text-primary text-center">You are here.</h4>
          <hr class="border border-1 border-light">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link text-light" href="/surveys/your-why/intro">Define Your WHY</a>
            <hr class="border border-primary">
            <a class="nav-link text-light" href="#recreation-travel">Recreation and Travel</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/frequent-hobbies-activities">-
                Frequent Hobbies and
                Activities</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/adventure-travel">- Adventure
                and Travel</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/family-group-events">- Family
                and Group Events</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/cultural-exploration">- Cultural
                Exploration</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/special-events">-
                Special Events</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/competitive-events">-
                Competitive Events</a>
              <a class="nav-link ms-3 my-1 text-light" href="/surveys/recreation-travel/bucket-list">- The
                Bucket List</a>
              <a class="nav-link ms-3 my-1 text-light" href="#item-1-2">- Item 1-2</a>
            </nav>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#health-wellness">Health and Wellness</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#social-community">Social and Community Engagement</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#spirituality-life-purpose">Spirituality and Life
              Purpose</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#career-professional-development">Career and Professional
              Development</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#wealth-finance">Wealth Building and Financial Health</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#creative-expression-hobbies">Creative Expression and
              Hobbies</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#environment-success">Environment and Success</a>
            <hr class="border border-light">
            <a class="nav-link text-light" href="#item-3">Item 3</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3 my-1 text-light" href="#item-3-1">Item 3-1</a>
              <a class="nav-link ms-3 my-1 text-light" href="#item-3-2">Item 3-2</a>
            </nav>
          </nav>
        </nav>
      </div>
      <!-- Main Content -->
      <div class="container col-9">
        <!-- Data-category and id need to be the survey_category.slug for DB selection and sidebar selector -->
        <div class="card shadow p-2 opacity-75 text-center mb-2" id="recreation-travel"
          data-category="recreation-travel">
          <div class="card-title">
            <!-- <h2 class="display-6 text-primary">Let's start with something fun.</h2> -->
          </div>
          <div data-bs-spy="scroll" data-bs-target="#progress-navbar" data-bs-smooth-scroll="true"
            class="scrollspy-example-2" tabindex="0">
            <div class="card shadow opacity-card p-2 mb-3">
              <h3 class="card-title display-6 text-primary">Enter goals for each category and estimate a completion
                date.
              </h3>
              <hr class="w-75 m-auto mb-3">

              <div class="accordion" id="goalSettingAccordion">
                {% for subcategory in category.subcategories %}
                <!-- Subcategory Container -->

                <div class="accordion-item">
                  <h2 class="accordion-header" id="subcategory-{{ subcategory.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-{{ subcategory.id }}" aria-expanded="true"
                      aria-controls="collapse-{{ subcategory.id }}">
                      {{ subcategory.name }}
                    </button>
                  </h2>

                  <div id="collapse-{{ subcategory.id }}" class="accordion-collapse collapse show"
                    aria-labelledby="subcategory-{{ subcategory.id }}" data-bs-parent="#goalSettingAccordion">
                    <div class="accordion-body goal-section">

                      <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="goal1" placeholder=" " required>
                        <label for="goal1" class="form-label">Goal Name</label>
                      </div>

                      <div class="mb-3 text-start">
                        <label for="time-interval-{{ subcategory.id }}" class="form-label">Estimated
                          Completion:</label>
                        <div class="d-flex gap-2 align-items-center">
                          <!-- Input for Time Value -->
                          <input type="number" class="form-control w-25" name="time_value" id="time-interval-value"
                            placeholder="Enter number" min="1" required>
                          <!-- Dropdown for Time Unit -->
                          <select class="form-select w-25" name="time_unit" id="time-interval-unit" required>
                            <option value="" disabled selected>Select unit</option>
                            <option value="day">Day(s)</option>
                            <option value="week">Week(s)</option>
                            <option value="month">Month(s)</option>
                            <option value="year">Year(s)</option>
                          </select>
                        </div>
                      </div>

                      <h4 class="text-center text-primary">Let's break it down.</h4>
                      <hr class="mb-3">

                      <!-- Goal Milestones Container -->
                      <h3 class="display-6">Milestones</h3>
                      <div class="d-flex justify-content-evenly gap-2 mb-3">
                        <input type="hidden" name="time_domain_id" id="time_domain_id" value="health_goal_id">
                        <!-- Container for goal breakdowns -->
                        <div class="swiper-container scroll-wrapper position-relative">

                          <!-- Scroll Left Button -->
                          <!-- <button id="scroll-left"
                          class="scroll-btn position-absolute top-50 start-0 translate-middle-y btn btn-secondary rounded-circle">
                          <i class="bi bi-chevron-left"></i>
                        </button> -->

                          <!-- Milestone Slide -->
                          <!-- Swiper Wrapper -->
                          <div class="swiper-wrapper d-flex gap-2 align-items-center mb-3">
                            <div class="mb-3">
                              <button type="button" id="add-milestone" class="btn btn-primary add-milestone-btn"
                                data-subcategory="{{ subcategory.slug }}" data-goal-id="1">
                                Add Milestone
                              </button>
                            </div>

                            <!-- Container for added milestones -->
                            <div class="new-milestone-container"></div>

                            <div class="swiper-slide milestone-card card p-3 border shadow"
                              id="{{ subcategory.slug }}-milestone-1" data-milestone-id="1">
                              <div class="card-title">
                                <h5 class="time-interval-title">Target completion:</h5>
                              </div>
                              <div class="d-flex gap-2 mb-3">
                                <input type="number" class="form-control w-50" name="time_value"
                                  id="time-interval-value" placeholder="Enter number" min="1" required>
                                <select class="form-select w-50" name="time_unit" id="time-interval-unit" required>
                                  <option value="" disabled selected>Select unit</option>
                                  <option value="day">Day(s)</option>
                                  <option value="week">Week(s)</option>
                                  <option value="month">Month(s)</option>
                                  <option value="year">Year(s)</option>
                                </select>
                              </div>
                              <hr class="w-75 m-auto mb-3">
                              <textarea class="form-control mt-2" name="{{ subcategory.slug }}-milestone_description[1]"
                                id="{{ subcategory.slug }}-milestone-description-1" rows="3" placeholder="Description"
                                required></textarea>
                            </div>
                          </div>

                          <!-- Scroll Right Button -->
                          <!-- <button id="scroll-right"
                        class="scroll-btn position-absolute top-50 end-0 translate-middle-y btn btn-secondary rounded-circle">
                        <i class="bi bi-chevron-right"></i>
                      </button> -->

                        </div>
                      </div>

                      <p class="lead text-start">Enter an action you can take immediately to progress toward this goal.
                      </p>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="action_item"
                          id="{{ subcategory.id }}-action-item-dynamic-index" value="{{ action_item }}" placeholder=" ">
                        <label for="action_item" class="form-label">Current action item</label>
                      </div>

                      <hr class="w-75 m-auto mb-3">

                      <div id="additional-goals-{{ subcategory.id }}" class="mb-3"></div>
                      <button type="button" class="btn btn-outline-primary btn-sm mb-3 add-goal"
                        data-goal-id="{{ subcategory.id }}">+ Add Another Goal</button>
                      <hr>
                      <div class="text-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>

              </div>

              <a href="/goals/recreation-travel/frequent-hobbies-activities"
                class="btn btn-lg w-25 btn-primary mb-3 d-none" id="next-section-btn">Next Section</a>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>