<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Enso_Blue_and_Black.jpg') }}">
    <title>Converge</title>
</head>
<body>
  <div class="parallax-bg"></div>
    <div class="border-box">
        <header class="bg-light shadow w-100 p-3 mt-0 text-center">
            <img src="/static/img/Enso_Blue_and_Black.jpg" class="m-auto rounded-circle" width="75" height="75" alt="Converge Logo">
            <h1 class="display-2 mb-1 text-primary"><strong>Converge</strong></h1>
            <h2 class="display-6 mb-3">Create your vision. Make it reality.</h2>
        </header>
        <div class="card shadow p-3 text-center w-75 m-auto my-3">
            <h3 class="display-4 text-primary">Welcome!</h3>
            <hr class="border border-dark w-100">
            <h4 class="fs-3 mb-3">An integrated productivity and self-development ecosystem.</h4>
            <hr class="border border-dark w-25 m-auto mb-3">
            <ul class="list-unstyled fs-5">
              <li class="mb-2">Crystallize your vision</li>
              <li class="mb-2">Cultivate habits that build you</li>
              <li class="mb-2">Refine your accountability system</li>
              <li class="mb-2">Dismantle your barriers</li>
              <li class="mb-2">Make your vision your reality</li>
            </ul>

            <hr class="border border-dark w-25 m-auto mb-3">
            <!-- <p class="lead">Our purpose here is to help you better understand your own human system; your patterns and motivators, as well as your barriers, and how to leverage those for your own well-being and success. </p>
            <hr class="border border-dark w-25 m-auto mb-3">
            <p class="lead">We will help you systematize your life in a way that aligns with neuroscience and wellness principles to help you feel, and be your best.</p> -->
           
            <!-- <p class="font-monospace">and within that, to leverage your own unique system to build habits that fit with your personal goals and aspirations.  </p>
              <p class="font-monospace">Converge is about</p> -->
            <!-- <hr class="border border-light border-1 w-25 align-self-center">
            <p class="font-monospace">
              Explore your patterns of subconscious resistance and self-sabotage to understand how to 
              Our purpose here is to encourage you to think in crystal clear, multi-dimensional terms about your vision for your future and then create a framework to make that happen.</p> -->
            <!-- <hr class="border border-light border-1 w-25 align-self-center"> -->
            <!-- <p class="font-monospace">We will then bring everything together to think about daily routines and structure you can incorporate to optimize your life and make steady progress toward your vision. </p> -->
            <!-- <p class="font-monospace">Do you have a travel bucket list? A skill, game or sport you'd like to get better at? Maybe you would like to learn an instrument, learn to paint, or write a book.  Or maybe you plan to compete in a race, climb a mountain, or complete another adventure related achievement.  </p>
            <hr class="border border-light border-1 w-25 align-self-center">
            <p class="font-monospace">With endless possibilities, have you made a plan to make it happen?</p> -->
            <!-- <hr class="border border-light border-1 w-25 align-self-center"> -->
            <!-- <p class="font-monospace">With You. Leveled., you will create milestone-based action plans while you take an in-depth look at that vision.  Ultimately, </p> -->
            <!-- <hr class="border border-dark border-1 w-25 align-self-center"> -->
            <figure>
              <blockquote class="blockquote">
                  <p>We are what we repeatedly do. Excellence, then, is not an act, but a habit.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                  Aristotle
              </figcaption>
          </figure>
        </div>
        <div class="container d-flex gap-5 m-auto justify-content-center mb-3">
          <div class="card shadow p-4 opacity-75 text-center w-25">
            <p>Don't have an account?</p>
            <a href="/register" class="btn btn-primary">Register</a>
          </div>
          <div class="card shadow p-4 opacity-75 text-center w-25">
            <p>Already have an account?</p>
            <a href="/login" class="btn btn-primary">Login</a>
          </div>
        </div>
        <!-- <div class="card shadow p-3 opacity-75 text-center w-75 m-auto my-3">
          <figure>
              <blockquote class="blockquote">
                  <p>What lies behind us and what lies before us are tiny matters compared to what lies within us.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                  Ralph Waldo Emerson
              </figcaption>
          </figure>
          <figure>
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
            
            
            <figure>
                <blockquote class="blockquote">
                    <p>Be not afraid of growing slowly; be afraid only of standing still.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Chinese Proverb
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>You cannot dream yourself into a character; you must hammer and forge yourself one.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    James A. Froude
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>The only person you are destined to become is the person you decide to be.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Ralph Waldo Emerson
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>Your life does not get better by chance, it gets better by change.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Jim Rohn
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>The curious paradox is that when I accept myself just as I am, then I can change.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Carl Rogers
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>If you always do what you've always done, you'll always get what you've always got.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Henry Ford
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>Don't judge each day by the harvest you reap but by the seeds that you plant.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Robert Louis Stevenson
                </figcaption>
            </figure>
            
            <figure>
                <blockquote class="blockquote">
                    <p>We must become the change we wish to see in the world.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Mahatma Gandhi 
                </figcaption>
            </figure>
        </div> -->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- <script src="{{ url_for('static', filename='/js/ui-effects.js') }}"></script> -->
      </div>
</body>
</html>