<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!-- <html lang="en"> -->

<head>
  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS (for responsive design and styling) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Intro.js (for guided tours/tutorials) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.css"
    integrity="sha512-4OzqLjfh1aJa7M33b5+h0CSx0Q3i9Qaxlrr1T/Z+Vz+9zs5A7GM3T3MFKXoreghi3iDOSbkPMXiMBhFO7UBW/g==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Favicon (small logo for the browser tab) -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/Enso_Lt_Blue.jpg') }}">

  <!-- Page Title -->
  <title>Dashboard Intro</title>
</head>

<body>
  <!-- Background Parallax Effect -->
  <div class="parallax-bg"></div>

  <!-- Main Content Container -->
  <div class="border-box">
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 m-auto d-flex justify-content-between position-sticky top-0 z-3 p-3">
      <div class="container-fluid">
        <!-- Branding (Logo + Title) -->
        <a class="navbar-brand d-inline-flex align-items-center gap-4" href="/dashboard">
          <img src="/static/img/Enso_Blue_and_Black.jpg" class="rounded-circle" width="60" height="60" alt="Converge Logo">
          <h1 class="display-5 text-primary">Converge</h1>
        </a>
      </div>

      <!-- Mobile Navbar Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links (Collapsible) -->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/calendar">Calendar</a>

          <!-- Goals Dropdown Menu -->
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Goals
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/goals/manager">Goal Manager</a></li>
                  <li><a class="dropdown-item" href="/goals/recreation-travel">Recreation and Travel</a></li>
                  <li><a class="dropdown-item" href="/goals/health-wellness">Health and Wellness</a></li>
                  <li><a class="dropdown-item" href="/goals/social-community">Social and Community Engagement</a></li>
                  <li><a class="dropdown-item" href="/goals/spirituality">Spirituality and Life Purpose</a></li>
                  <li><a class="dropdown-item" href="/goals/career-professional-development">Career and Professional
                      Development</a></li>
                  <li><a class="dropdown-item" href="/goals/wealth-finance">Wealth Building and Financial Health</a></li>
                  <li><a class="dropdown-item" href="/goals/creative-expression-hobbies">Creative Expression and
                      Hobbies</a></li>
                  <li><a class="dropdown-item" href="/goals/environment-success">Environment and Success</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- Routines Dropdown Menu -->
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Routines
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="/routines/am/manage">AM Routine Manager</a></li>
                  <li><a class="dropdown-item" href="/routines/pm/manage">PM Routine Manager</a></li>
                  <li><a class="dropdown-item" href="/intentions/edit">Daily Intention Manager</a></li>
                  <li><a class="dropdown-item" href="/practices/flex-items/manage">Flex Item</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <a class="nav-link" href="/social">Social</a>

          <!-- Logout Button -->
          <form action="/users/logout" method="post">
            <button class="btn btn-link" type="submit" name="logout">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Main Dashboard Content -->
    <div class="container my-4">
      <div class="card shadow text-center opacity-75 p-4 mb-4 m-auto w-75">
        <div class="card-body">
          <h1 class="display-5 text-primary">Dashboard</h1>
          <p class="lead text-secondary">Your vision, aligned.</p>
        </div>
      </div>

      <!-- Dashboard Tabs -->
      <ul class="nav navbar-dark nav-tabs mb-4 opacity-75" id="dashboard-tabs" role="tablist">
        <li class="nav-item">
          <button class="nav-link active" id="your-day-tab" data-bs-toggle="tab" data-bs-target="#your-day"
            type="button" role="tab">Your Day</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="goals-tab" data-bs-toggle="tab" data-bs-target="#goals" type="button"
            role="tab">Goals</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="metrics-tab" data-bs-toggle="tab" data-bs-target="#metrics" type="button"
            role="tab">Metrics</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social" type="button"
            role="tab">Social</button>
        </li>
      </ul>

      <!-- Tab Content (Content Hidden by Default, Shown when Tab is Clicked) -->
      <div class="tab-content">
        <!-- YOUR DAY TAB -->
        <div class="tab-pane d-flex gap-2 fade show active" id="your-day" role="tabpanel">
          <!-- Left column -->
          <div class="card shadow opacity-75 col-lg-6 p-2">
            <div class="card-body">
              <div class="card-title">
                <h4 class="display-6 mb-2 text-center text-primary">Your Day at a Glance</h4>
                <hr class="border border-light mb-3 m-auto w-100">
              </div>
              <!-- AM Routine -->
              <div id="morning-routine" class="card shadow border mb-1">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <h5 class="card-title text-primary">Morning Routine</h5>
                    <button id="edit-am-routine" class="btn btn-sm btn-outline-primary">Edit Routine</button>
                  </div>
                  <hr class="border border-light mb-3 m-auto w-100">
                  <ul class="list-group">
                    <!-- EXAMPLE PRACTICE FOR INTRO.JS -->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span>Sample Practice</span>
                      <div class="d-flex gap-2">
                        <button id="complete-example" class="btn btn-sm btn-outline-success">Complete</button>
                        <button id="edit-practice-example" class="btn btn-sm btn-outline-warning">Edit Practice</button>
                      </div>
                    </li>
                    {% for routine in routines %}
                    {% if routine.routine_type == "AM" %}
                    {% for practice in routine.practices %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <div>
                        <span class="fw-bold">{{ practice.name }} - <small class="text-muted">{{ practice.impact_rating_description }}</small></span>
                        <small class="text-muted d-block">
                          {{ practice.benefit_synopsis }}
                        </small>
                      </div>
                      <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-outline-success"
                          onclick="markAccomplished('{{ practice.id }}')">Complete</button>
                        <button class="btn btn-sm btn-outline-warning">Edit Practice</button>
                      </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- Daily Intentions -->
              <div id="intentions" class="card shadow mb-1">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <h5 class="text-success">Intentions</h5>
                    <button class="btn btn-sm btn-outline-success">Edit Intentions</button>
                  </div>
                  <hr class="border border-light mb-3 m-auto w-100">
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span>Intention example</span>
                      <div class="">
                        <button class="btn btn-sm btn-outline-success">Thumbs Up</button>
                      </div>
                      <!-- A button to "Ping" the intention could allow the user to signify moments they feel they are adhering to said intention -->
                        <!-- However, might this present more a downside in the added attention toward the phone and possible emphasis on comparison? -->
                      <!-- <button class="btn btn-sm btn-outline-success">Ping?</button> -->
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Daily Flex Tasks -->
              <div id="flex-tasks" class="card shadow mb-1">
                <div class="card-body">
                  <h5 class="card-title text-success">Flex Tasks</h5>
                  <hr class="border border-light mb-3 m-auto w-100">
                  <ul class="list-group">
                    <li class="list-group-item align-items-center text-center">
                      <p class="lead text-success"><strong>Flex Task Sample</strong></p class="lead text-bold">
                        <hr class="border border-light w-75 mx-auto mt-0">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex gap-5">
                          <p class="lead text-light">Category</button>
                            <p class="lead text-light">Est. Time Req.</p>
                        </div>
                        <div class="">
                          <button class="btn btn-sm btn-outline-success">Mark Done</button>
                          <button class="btn btn-sm btn-outline-danger">Remove</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- PM Routine -->
              <div id="evening-routine" class="card shadow mb-1">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <h5 class="text-primary">The Evening Consolidation</h5>
                    <button class="btn btn-sm btn-outline-primary">Edit Routine</button>
                  </div>
                  <hr class="border border-light mb-3 m-auto w-100">
                  <ul class="list-group">
                    {% if routines is defined and routines|length > 0 %}
                      {% for routine in routines %}
                        {% if routine.routine_type == "PM" %}
                          {% for practice in routine.practices %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>{{ practice.name }}</span>
                            <button class="btn btn-sm btn-outline-success"
                              onclick="markAccomplished('{{ practice.id }}')">Mark
                              Done</button>
                          </li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                    <p>No routines available</p>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <!-- RIGHT COLUMN -->
          <div id="actionable-items" class="card shadow opacity-75 col-lg-6 p-2">
            <div class="card-body">
              <div class="card-title">
                <h4 class="display-6 mb-2 text-center text-primary">Actionable Items</h4>
                <hr class="border border-light mb-3 m-auto w-100">
              </div>
              <!-- Action Items -->
              <div id="action-items" class="card shadow mb-1">
                <div class="card-body">
                  <h5 class="card-title text-warning">Goal Action Items</h5>
                  <hr class="border border-light mb-3 m-auto w-100">
                  <ul class="list-group">
                    {% for goal in goals %}
                    {% if goal.is_active %}
                    <!-- Goal Title -->
                    <li class="list-group-item active" aria-current="true">
                      <strong>{{ goal.name }}</strong>
                    </li>
                    <!-- TODO: MILESTONE TESSSSTING NEEDED ... for goal.milestones, if milestone.is_completed == false -->
                    {% if goal.milestone %}
                    {% for milestone in goal.milestones %}
                    {% if milestone.is_completed == false %}
                    <!-- Display Milestones/Action Items -->
                    {% if goal.milestone.action_items %}
                    {% for action_item in goal.milestone.action_items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span>
                        {{ action_item.name }}
                        <small class="text-muted">({{ action_item.milestone_name }})</small>
                      </span>
                      <!-- TODO: EDIT ACTION ITEM BUTTON -->
                      <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-outline-success"
                          onclick="markAccomplished('{{ action_item.id }}')">
                          Mark Done
                        </button>
                        <button class="btn btn-sm btn-outline-warning">Edit Milestone</button>
                      </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span>
                        {{ milestone.name }}
                      </span>
                      <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-outline-success" onclick="markAccomplished('{{ milestone.id }}')">
                          Mark Done
                        </button>
                        <button class="btn btn-sm btn-outline-warning">Edit</button>
                      </div>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Goals Tab -->
        <div class="tab-pane fade" id="goals" role="tabpanel">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-success">Goals Overview</h5>
              <div class="tree-container">
                <ul class="tree-list">
                  {% for goal in goals %}
                  <li class="tree-item">
                    <div class="goal-box">
                      <strong>{{ goal.name }}</strong>
                      <p>{{ goal.description }}</p>
                      <small class="text-muted">Target: {{ goal.target_date }}</small>
                    </div>
                    <!-- Milestones for the goal -->
                    {% if goal.milestones %}
                    <ul class="tree-list">
                      {% for milestone in goal.milestones %}
                      <li class="tree-item">
                        <div class="milestone-box">
                          <strong>{{ milestone.name }}</strong>
                          <p>{{ milestone.description }}</p>
                          <small class="text-muted">Target: {{ milestone.target_date }}</small>
                        </div>
                        <!-- Action Items for the milestone -->
                        {% if milestone.action_items %}
                        <ul class="tree-list">
                          {% for action_item in milestone.action_items %}
                          <li class="tree-item">
                            <div class="action-item-box">
                              <strong>{{ action_item.name }}</strong>
                              <p>{{ action_item.description }}</p>
                              <small class="text-muted">Duration: {{ action_item.estimated_time }}</small>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- TRENDS TAB -->
        <div class="tab-pane fade" id="metrics" role="tabpanel">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-success">Your Metrics</h5>
            </div>
          </div>
        </div>

        <!-- SOCIAL TAB -->
        <div class="tab-pane fade" id="social" role="tabpanel">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-success">Social</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/ui-effects.js') }}" defer></script>

  <!-- Intro.js Guided Tour Script -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      introJs().setOptions({
        steps: [
          {
            element: '#dashboard-tabs',
            title: 'Welcome to your Dashboard!',
            intro: 'This is your home base for tracking goals and routines.  Here you can refine and make adjustments to top-of-mind tasks as well, view metrics, and see your social groups.  ',
            position: 'top'
          },
          {
            element: '#your-day-tab',
            title: 'Your Day Tab',
            intro: 'The "Your Day" tab is here to bring everything into a common space, daily practices and intentions as well as action items from your goals, so you can keep moving as you see fit.',
            position: 'top'
          },
          {
            element: '#goals-tab',
            title: 'Goals Tab',
            intro: 'View, filter, and refine your goals in the goals tab.',
            position: 'top'
          },
          {
            element: '#metrics-tab',
            title: 'Metrics Tab',
            intro: 'As you get going, you will find metrics on your progress displayed in the metrics tab.',
            position: 'top'
          },
          {
            element: '#social-tab',
            title: 'Social Tab',
            intro: 'Once you are a bit further along on your journey, you will have the option to join related social groups.  These groups will be wide-ranging from accountability, to book clubs, to general networking.',
            position: 'top'
          }
        ],
        tooltipClass: 'introCustomTooltip',
        disableInteraction: true
      }).oncomplete(function () {
        window.location.href = '/surveys/day-map';
      }).start();
    });
  </script>

</body>

</html>
