<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>New User Welcome</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Enso_Blue_and_Black.jpg">
</head>
<body>
    <header class="card shadow w-100 p-3 text-center position-sticky top-0 z-3">
        <img src="../static/img/Enso_Blue_and_Black.jpg" class="m-auto rounded-circle" width="75" height="75" alt="Converge Logo">
        <h1 class="display-5 mb-3 text-primary">Converge</h1>
        <h4 class="lead mx-5">Converge on your potential. Converge on your best life.</h4>
        <div class="text-end">
            <form action="/users/logout" method="post">
                <button class="btn btn-link" type="submit" name="logout">logout</button>
            </form>
        </div>
    </header>
    <div class="container my-3 d-flex gap-2">
        
        <div class="card shadow w-100 p-3 opacity-75 flex-4 text-center">
            <div class="card-body text-center">
                <h3 class="display-6">What are we doing here?</h3>
                <p class="lead text-primary">You. Leveled. is about two things:
                    <p class="lead">1. A framework to crystallize your vision in life</p>
                    <p class="lead">2. Providing resources to make it happen.</p>
                <hr class="border-primary border-3">
                <h3 class="display-6">But first, a note about our mission...</h3>
                <p class="lead">Everything here is about helping you get the most out of life, maximizing your quality of life both now and as you age.</p>
                <p class="lead">Based on your goals and aspirations, we will suggest daily practices to aid you in feeling and performing your best.  Everything suggested is based on extensive health and wellness literature, regardless don't feel pressured to do them all.  This is merely about giving you ideas backed by science, what you ultimately choose to implement or not should be based on what resonates with you.  </p>
                <p class="lead">Let us start off by saying, this isn't about adding more to your busy schedule, or buying into hustle culture, the point here is to provide a framework to help you clarify your vision for your future, and if needed, to help you create more structure in your daily life to fulfill that vision. </p>
                <p class="lead">Cheers!</p>
                <div class="card-body text-center">
                    <p class="lead">The following is meant to be an exhaustive list of goals that will ultimately define your vision for your future... We did our best to not be exhausting... You'll see what we mean...</p>
                    <p class="lead">Many people find that even if they have worked through goals in the past, there are many categories here they may not have considered.  Our goal here is not to merely give you some longer list of chores to work through as you approach retirement, etc., but to optimize your work-life balance and overall well-being as you work toward doing things you love.  We will be encouraging you think through your lifestyle, patterns and habits that might not be serving you in the long-run, and will likely recommend some new activities that will help you function at your best.  </p>
                    <p class="lead">This is intended to be a framework to serve you over the long-run, one of the most important things to consider in personal growth is being kind to yourself and your process.  We will all experience set-backs and delays, all we can do is use these as learning experiences and trust that we will overcome these obstacles through perseverance.  With this in mind, treat these goals as moving targets, be ok with moving timelines forward or back.  Learn from your mistakes, and remember that you grow stronger with every obstacle you face.  </p>
                    <a href="/home">
                        <button class="btn btn-primary w-75">Continue</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>